@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Support:</strong>   <a>w67499@student.wsiz.edu.pl</a><br />
    <strong>Marketing:</strong> <a>w67499@student.wsiz.edu.pl</a>
</address>